/* -------------------- params -------------------- */


:root {
  
  --main-color: #42414D;
  --accent-color: #5D7588;
  --alternate-color: #668093;
  --list-color: #2B2A33;
  
  --new-color: rgba(255, 255, 255, 1);
  --new-text-decoration: none;
  --watched-color: rgba(255, 255, 255, 0.5);
  --watched-text-decoration: none;
  --updated-color: rgba(255, 255, 255, 0.5);
  --updated-text-decoration: line-through;
  
  --entry-container-color: rgba(255, 255, 255, 0.5);
  --entry-position-color: rgba(255, 255, 255, 0.5);
  
  --general-spacing: 0.25rem;
  --toolbar-spacing: 0.25rem;
  --sections-spacing: 0.5rem;
  --filters-spacing: 0.5rem;
  --list-spacing: 0.125rem 0rem;
  --entry-outer-spacing: 0.125rem 0.25rem;
  --entry-inner-spacing: 0.5rem 2rem 0.5rem 0.5rem;
  
  --border-normal: 0.1rem solid transparent;
  --border-focus: 0.1rem solid rgb(255, 255, 255);
  --border-radius: 0.2rem;
  
  --entry-position-inset: 0.65rem 0.65rem auto auto;
  --transition-duration: 0.2s;
  
}


/* -------------------- body -------------------- */


body {
  height: 100vh;
  margin: 0rem;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
}


/* -------------------- toolbar -------------------- */


.toolbar {
  display: flex;
  justify-content: space-between;
  gap: var(--general-spacing);
  padding: var(--toolbar-spacing);
}


/* -------------------- sections -------------------- */


.sections {
  display: flex;
  gap: var(--general-spacing);
}

.sections a {
  color: white;
  text-decoration: none;
  transition: background-color var(--transition-duration) ease;
  padding: var(--sections-spacing);
  background-color: var(--list-color);
  border-radius: var(--border-radius);
}

.sections a:hover {
  background-color: var(--accent-color);
}


/* -------------------- filters -------------------- */


.filters {
  display: flex;
  gap: var(--general-spacing);
}

.filters div {
  display: flex;
  gap: var(--filters-spacing);
  padding: var(--filters-spacing);
  background-color: var(--list-color);
  border-radius: var(--border-radius);
}

.filters label {
  display: flex;
  gap: 0.25rem;
  color: white;
  transition: color var(--transition-duration) ease;
}

.filters label:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.filters input {
  accent-color: var(--accent-color);
}

.filters input:hover {
  cursor: pointer;
}

.list.show-new a.new, .list.show-watched a.watched, .list.show-watched a.updated {
  display: block;
}

.list.show-containers a span {
  display: inline;
}


/* -------------------- list -------------------- */


.list {
  background-color: var(--list-color);  
  overflow-y: scroll;
  padding: var(--list-spacing);
  height: 100%;
}


/* ---------- entry ---------- */


.list a {
  position: relative;
  display: none;
  padding: var(--entry-outer-spacing);
  user-select: none;
}

.list a:hover {
  cursor: pointer;
}

.list a:hover div {
  background-color: var(--main-color);
}

.list a:focus {
  outline: none;
}

.list a:focus div {
  border: var(--border-focus);
}

.list a.new {
  color: var(--new-color);
  text-decoration: var(--new-text-decoration);
}

.list a.watched {
  color: var(--watched-color);
  text-decoration: var(--watched-text-decoration);
}

.list a.updated {
  color: var(--updated-color);
  text-decoration: var(--updated-text-decoration);
}

.list a[data-position]::after {
  content: attr(data-position);
  position: absolute;
  right: 0.65rem;
  top: 0.65rem;
  color: var(--entry-position-color);
}

.list a[data-position] div {
  background-color: var(--accent-color);
}

.list a[data-position]:hover div {
  background-color: var(--alternate-color);
}

.list a div {
  padding: var(--entry-inner-spacing);
  border-radius: var(--border-radius);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: background-color var(--transition-duration) ease;
  border: var(--border-normal);
}

.list a div span {
  display: none;
  color: var(--entry-container-color);
}
