/* -------------------- params -------------------- */


:root {
  
  --primary-color: #2B2A33;
  --secondary-color: #42414D;
  --accent-color: #5D7588;
  
  --panel-spacing: 0.25rem;
  --panel-elements-spacing: 0.5rem;
  --panel-elements-min-width: 2.5rem;
  --list-spacing: 0.125rem 0rem;
  --entry-outer-spacing: 0.125rem 0rem;
  --entry-inner-spacing: 0.5rem 2rem 0.5rem 0.5rem;
  
  --panel-elements-color: rgb(255 255 255 / 1);
  --border-radius: 0.2rem;
  --transition-general-duration: 0.15s;
  --transition-body-duration: 0.6s;
  
  --entry-hovered-color: var(--secondary-color);
  --entry-selected-color: var(--accent-color);
  --entry-selected-hovered-color: #668093;
  --entry-container-color: rgb(255 255 255 / 0.5);
  --entry-position-color: rgb(255 255 255 / 0.5);
  
  --entry-border-unfocused: 0.1rem solid transparent;
  --entry-border-focused: 0.1rem solid rgb(255 255 255 / 1);
  
  --entry-new-color: rgb(255 255 255 / 1);
  --entry-watched-color: rgb(255 255 255 / 0.5);
  
}


/* -------------------- body -------------------- */


body {
  height: 100vh;
  margin: 0rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  opacity: 0.3;
  transition: opacity var(--transition-body-duration) ease;
}

body:hover {
  opacity: 1;
}


/* -------------------- panel -------------------- */


.panel {
  display: flex;
  justify-content: space-between;
  padding: var(--panel-spacing);
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
}

.panel > div {
  display: flex;
  gap: var(--panel-spacing);
  flex: 1;
}

.panel > div:first-of-type {
  justify-content: start;
}

.panel > div:last-of-type {
  justify-content: end;
}

.panel a {
  color: var(--panel-elements-color);
  transition: background-color var(--transition-general-duration) ease;
  text-decoration: none;
  text-align: center;
  border-radius: var(--border-radius);
  padding: var(--panel-elements-spacing);
  min-width: var(--panel-elements-min-width);
}

.panel a:hover {
  cursor: pointer;
  background-color: var(--accent-color);
}

.panel a:focus {
  outline: 0.1rem solid rgb(255 255 255 / 1);
}

.panel input:not([type]) {
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0rem 0.5rem;
}

.panel input:not([type]):focus {
  outline: 0.1rem solid rgb(255 255 255 / 1);
}

.panel label {
  color: var(--panel-elements-color);
  transition: background-color var(--transition-general-duration) ease;
  accent-color: var(--accent-color);
  display: flex;
  align-content: center;
  gap: 0.25rem;
  border-radius: var(--border-radius);
  padding: var(--panel-elements-spacing);
  min-width: var(--panel-elements-min-width);
}

.panel label:hover {
  cursor: pointer;
  background-color: var(--accent-color);
}

.panel input[type="checkbox"]:hover {
  cursor: pointer;
}


/* -------------------- list -------------------- */


.list {
  overflow-y: scroll;
  scrollbar-width: none;
  padding: var(--list-spacing);
  height: 100%;
}

.list::-webkit-scrollbar {
  display: none;
}

.list:focus {
  outline: none;
}

.list.show-containers a span {
  display: inline;
}

.list.show-new a:not(.watched), .list.show-watched a.watched {
  display: block;
}


/* ---------- entry ---------- */


.list a {
  position: relative;
  display: none;
  padding: var(--entry-outer-spacing);
  user-select: none;
}

.list a:hover {
  cursor: pointer;
}

.list a:hover div {
  background-color: var(--entry-hovered-color);
}

.list a:focus {
  outline: none;
}

.list a:focus div {
  border: var(--entry-border-focused);
}

.list a:not(.watched) {
  color: var(--entry-new-color);
}

.list a.watched {
  color: var(--entry-watched-color);
}

.list a.filtered {
  display: none !important;
}

.list a[data-position]::after {
  content: attr(data-position);
  position: absolute;
  right: 0.65rem;
  top: 0.65rem;
  color: var(--entry-position-color);
}

.list a[data-position] div {
  background-color: var(--entry-selected-color);
}

.list a[data-position]:hover div {
  background-color: var(--entry-selected-hovered-color);
}

.list a div {
  padding: var(--entry-inner-spacing);
  border-radius: var(--border-radius);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: background-color var(--transition-general-duration) ease;
  border: var(--entry-border-unfocused);
}

.list a div span {
  display: none;
  color: var(--entry-container-color);
}
