window > box > box, dialog > box {
  margin: 6px;
}

/* section headers */
list box label {
  margin: 0px 8px;
}

/* section names */
list row label {
  margin: 0px 6px;
}

/* file load error dialog, file save error dialog, delete dialog */
label.weight-bold {
  font-weight: bold;
}

/* global search and move to folder suggestions window background */
entry.completion treeview.view:not(:selected) {
  background-color: rgba(0, 0, 0, 0.08);
}

/* file watcher mounting error  */
frame border {
  border-bottom: none;
}
