/* -------------------- globals -------------------- */


:root {
    
    --primary-color: rgb(28 27 34 / 1);
    --secondary-color: rgb(43 42 51 / 1);
    
    --text-primary-color: rgb(232 232 232 / 1);
    --text-secondary-color: rgb(232 232 232 / 0.5);
    
    --accent-color-rin: rgb(105 125 160 / 1);
    --accent-color-nadeshiko: rgb(178 133 139 / 1);
    --accent-color-aoi: rgb(174 153 96 / 1);
    --accent-color-chiaki: rgb(121 115 154 / 1);
    --accent-color-ena: rgb(66 138 162 / 1);
    
    --transition-duration: 0.25s;
    
    /* redefined in ".current" */
    --accent-color: rgb(125 125 125 / 1);
    --entry-hovered-color: var(--secondary-color);
    --entry-selected-color: var(--accent-color);
    --entry-hovered-selected-color: color-mix(in srgb, var(--accent-color) 75%, var(--secondary-color));
    --entry-unfocused-selected-color: color-mix(in srgb, var(--accent-color) 50%, var(--secondary-color));
    
}


/* -------------------- body -------------------- */


body {
    height: 100vh;
    margin: 0rem;
    display: flex;
    background-color: var(--primary-color);
}


/* -------------------- iframes -------------------- */


iframe {
    
    flex: 1;
    border: none;
    
    &:nth-of-type(2) {
        @media screen and (width < 1600px) {
            display: none;
        }
    }
    
}


/* -------------------- current -------------------- */


.current {
    
    &.rin {
        --accent-color: var(--accent-color-rin);
    }
    
    &.nadeshiko {
        --accent-color: var(--accent-color-nadeshiko);
    }
    
    &.aoi {
        --accent-color: var(--accent-color-aoi);
    }
    
    &.chiaki {
        --accent-color: var(--accent-color-chiaki);
    }
    
    &.ena {
        --accent-color: var(--accent-color-ena);
    }
    
    --entry-hovered-color: var(--secondary-color);
    --entry-selected-color: var(--accent-color);
    --entry-hovered-selected-color: color-mix(in srgb, var(--accent-color) 75%, var(--secondary-color));
    --entry-unfocused-selected-color: color-mix(in srgb, var(--accent-color) 50%, var(--secondary-color));
    
    &:focus-within {
        --entry-selected-color: var(--accent-color);
    }
    
    &:not(:focus-within) {
        --entry-selected-color: var(--entry-unfocused-selected-color);
    }
    
    width: 100%;
    display: flex;
    flex-direction: column;
    
}


/* -------------------- header -------------------- */


.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-color);
}


/* -------------------- sections -------------------- */


.sections {
    
    display: flex;
    
    a {
        
        color: var(--text-secondary-color);
        transition: background-color var(--transition-duration) ease;
        text-decoration: none;
        text-align: center;
        padding: 0.75rem;
        min-width: 4rem;
        
        &:hover {
            cursor: pointer;
            background-color: var(--accent-color);
        }
        
        &.active {
            color: var(--text-primary-color);
        }
        
    }
    
}


/* -------------------- filter -------------------- */


.filter {
    border: none;
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    padding: 0rem 0.5rem;
    margin: 0.25rem;
}


/* -------------------- list -------------------- */


.list {
    
    overflow-y: scroll;
    height: 100%;
    
    &[data-value="true"] a[data-value]::after {
        display: inline;
    }
    
    &[data-primary="true"] a:not([data-value="0"]), &[data-secondary="true"] a[data-value="0"] {
        display: block;
    }
    
    &[data-tertiary="true"] a span {
        display: inline;
    }
    
}


/* -------------------- entries -------------------- */


.list a {
    
    display: none;
    position: relative;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 2.25rem;
    padding: 0rem 2rem 0rem 0.5rem;
    transition: background-color var(--transition-duration) ease;
    color: var(--text-primary-color);
    
    &:hover {
        cursor: pointer;
        background-color: var(--entry-hovered-color);
    }
    
    &[data-value="0"] {
        color: var(--text-secondary-color);
    }
    
    &[data-value]::after {
        position: absolute;
        right: 0.5rem;
        color: var(--text-secondary-color);
        display: none;
        content: attr(data-value);
    }
    
    &[data-selected] {
        background-color: var(--entry-selected-color);
    }
    
    &[data-selected]:hover {
        background-color: var(--entry-hovered-selected-color);
    }
    
    span {
        display: none;
        color: var(--text-secondary-color);
    }
    
}


/* -------------------- actions -------------------- */


.actions {
    
    display: flex;
    
    a {
        
        color: var(--text-primary-color);
        transition: background-color var(--transition-duration) ease;
        text-decoration: none;
        text-align: center;
        padding: 0.75rem;
        min-width: 4rem;
        
        &:hover {
            cursor: pointer;
            background-color: var(--accent-color);
        }
        
    }
    
}


/* -------------------- toggles -------------------- */


.toggles {
    
    display: flex;
    justify-content: flex-end;
    
    label {
        
        color: var(--text-secondary-color);
        transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
        padding: 0.75rem;
        min-width: 4rem;
        text-align: center;
        
        &:hover {
            cursor: pointer;
            background-color: var(--accent-color);
        }
        
        &[data-enabled="true"] {
            color: var(--text-primary-color);
        }
        
    }
    
}
