/* -------------------- globals -------------------- */


:root {
    
    --primary-color: rgb(23 23 23 / 1);
    --secondary-color: rgb(38 38 38 / 1);
    --accent-color: rgb(125 125 125 / 1);
    
    --text-primary-color: rgb(232 232 232 / 1);
    --text-secondary-color: rgb(232 232 232 / 0.5);
    
    --entry-hovered-color: var(--secondary-color);
    --entry-selected-color: var(--accent-color);
    --entry-hovered-selected-color: color-mix(in srgb, var(--accent-color) 75%, var(--secondary-color));
    --entry-unfocused-selected-color: color-mix(in srgb, var(--accent-color) 50%, var(--secondary-color));
    
    --transition-duration: 0.25s;
    
    &.rin {
        --accent-color: rgb(105 125 160 / 1);
    }
    
    &.nadeshiko {
        --accent-color: rgb(178 133 139 / 1);
    }
    
    &.aoi {
        --accent-color: rgb(174 153 96 / 1);
    }
    
    &.chiaki {
        --accent-color: rgb(121 115 154 / 1);
    }
    
    &.ena {
        --accent-color: rgb(66 138 162 / 1);
    }
    
}


/* -------------------- body -------------------- */


body {
    height: 100vh;
    margin: 0rem;
    display: flex;
    gap: 2px;
    background-color: var(--primary-color);
}


/* -------------------- iframes -------------------- */


iframe {
    
    flex: 1;
    border: none;
    
    &:nth-of-type(2) {
        @media screen and (width < 1600px) {
            display: none;
        }
    }
    
}


/* -------------------- current -------------------- */


.current {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    
    &:focus-within {
        --entry-selected-color: var(--accent-color);
    }
    
    &:not(:focus-within) {
        --entry-selected-color: var(--entry-unfocused-selected-color);
    }
    
}


/* -------------------- panel -------------------- */


.panel {
    
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    
    > div {
        display: flex;
    }
    
}


/* -------------------- sections -------------------- */


.sections a {
    
    color: var(--text-secondary-color);
    transition: background-color var(--transition-duration) ease;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem;
    min-width: 4rem;
    
    &:hover {
        cursor: pointer;
        background-color: var(--accent-color);
    }
    
    &.active {
        color: var(--text-primary-color);
    }
    
}


/* -------------------- filter -------------------- */


.filter {
    width: 50%;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    padding: 0rem 0.5rem;
    margin: 0.25rem;
}


/* -------------------- list -------------------- */


.list {
    
    overflow-y: scroll;
    height: 100%;
    
    &.show-value a[data-value]::after {
        display: inline;
    }
    
    &.show-primary a:not([data-value="0"]), &.show-secondary a[data-value="0"] {
        display: block;
    }
    
    &.show-tertiary a span {
        display: inline;
    }
    
}


/* -------------------- entries -------------------- */


.list a {
    
    display: none;
    position: relative;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 2.25rem;
    padding: 0rem 2rem 0rem 0.5rem;
    transition: background-color var(--transition-duration) ease;
    color: var(--text-primary-color);
    
    &:hover {
        cursor: pointer;
        background-color: var(--entry-hovered-color);
    }
    
    &.filtered {
        display: none !important;
    }
    
    &[data-value="0"] {
        color: var(--text-secondary-color);
    }
    
    &[data-value]::after {
        position: absolute;
        right: 0.5rem;
        color: var(--text-secondary-color);
        display: none;
        content: attr(data-value);
    }
    
    &[data-selected] {
        background-color: var(--entry-selected-color);
    }
    
    &[data-selected]:hover {
        background-color: var(--entry-hovered-selected-color);
    }
    
    span {
        display: none;
        color: var(--text-secondary-color);
    }
    
}


/* -------------------- actions -------------------- */


.actions a {
    
    color: var(--text-primary-color);
    transition: background-color var(--transition-duration) ease;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem;
    min-width: 4rem;
    
    &:hover {
        cursor: pointer;
        background-color: var(--accent-color);
    }
    
}


/* -------------------- toggles -------------------- */


.toggles label {
    
    color: var(--text-secondary-color);
    transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
    padding: 0.75rem;
    min-width: 4rem;
    text-align: center;
    
    &:hover {
        cursor: pointer;
        background-color: var(--accent-color);
    }
    
    &[data-active] {
        color: var(--text-primary-color);
    }
    
}
