#define RT_MANIFEST 24
1 RT_MANIFEST "app.manifest"

1 VERSIONINFO
  
  FILEVERSION     2,0,0,0
  PRODUCTVERSION  2,0,0,0

BEGIN
  
  BLOCK "StringFileInfo" {
    BLOCK "040904E4" {
      VALUE "ProductName", "nadeshiko"
      VALUE "FileDescription", "nadeshiko"
      VALUE "ProductVersion", "2.0.0"
    }
  }
  
  BLOCK "VarFileInfo" {
    VALUE "Translation", 0x409, 1252
  }

END
