body {
    display: flex;
    justify-content: center;
    margin: 25px;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 850px;
}

button {
    
    font-size: 40px;
    font-family: "Courier New", monospace;
    height: 85px;
    cursor: pointer;
    border: 5px solid lightgray;
    border-radius: 10px;
    
    /* play */
    
    &:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        color: red;
    }
    
    /* minuschapter / pluschapter */
    /* minusplaylist / plusplaylist */
    
    &:nth-of-type(n+2) {
        color: blue;
    }
    
    /* minus5 / plus5 */
    /* minus75 / plus75 */
    
    &:nth-of-type(n+6) {
        color: green;
    }
    
    /* fullscreen / subtitles */
    /* title / time */
    
    &:nth-of-type(n+10) {
        color: darkgoldenrod;
    }
    
    /* quit */
    
    &:nth-of-type(14) {
        grid-column-start: 1;
        grid-column-end: 3;
        color: black;
    }
    
}
